<div class="row job-item-row">
  <div class="col-xs-4 text job-item-title">
    {{ jobItem.title }}
  </div>

  <div class="col-xs-2">
    <select class="diy-dropdown" onchange={{action "updateJobStatus" value="target.value"}}>
      {{#each statuses as |status|}}
      <option value={{status}} selected={{eq jobItem.application_status status }}>{{status}}</option>
      {{/each}}
    </select>
  </div>

  <div class="col-xs-5 job-item-input">
    {{wide-input editable=true value=jobItem.url small=true label="Job URL" enterPressed=(action "updateUrl")}}
  </div>

  <div class="col-xs-1">
    <div class="row clearfix">
      <div class="col-xs-6 pull-right">
        <a href=""><span {{action "removeJob" job}} class="glyphicon glyphicon-remove"></span></a>
      </div>
      <div class="col-xs-6 pull-right">
        {{model-link link=jobItem.url}}
      </div>
    </div>
  </div>

</div>
