{{yield}}


<select onchange={{action "updateJobStatus" value="target.value"}}>
  {{#each statuses as |status|}}
    <option value={{status}} selected={{ jobItem.application_status }}>{{status}}</option>
  {{/each}}
</select>