{{yield}}


<select class="diy-dropdown" onchange={{action "updateJobStatus" value="target.value"}}>
  {{#each statuses as |status|}}
    <option value={{status}} selected={{eq jobItem.application_status status }}>{{status}}</option>
  {{/each}}
</select>