<div class="nav-bar-left">
  <div class="page-title">
    Job Hunger
  </div>
  <div id="score">
    {{liquid-bind sessionAccount.currentUser.score}}
  </div>
</div>

<div class="nav-bar-center">
  <div class="logo {{jobDemon.state}} {{jobDemon.animation}}">
  </div>
</div>

<div class="nav-bar-right">
  {{#if session.isAuthenticated}}
  {{link-to "Dashboard" "dashboard"}}
  {{link-to "Meetups" "meetups"}}
  {{link-to "About" "about"}}
  <a href="#" {{action "invalidateSession"}} class="logout">Log Out</a>
  {{else}}
  {{link-to "About" "about"}}
  {{link-to "Log In" "login"}}
  {{link-to "Sign Up" "sign-up"}}
  {{/if}}
</div>

