<div class="nav-bar-center">
  <div class="logo {{jobDemon.state}} {{jobDemon.animation}}">
  </div>
</div>

<div class="nav-bar-right">
  {{#if session.isAuthenticated}}
  <a {{action "invalidateSession"}}>Log Out</a>
  {{link-to "Dashboard" "dashboard"}}
  {{else}}
  {{link-to "Log In" "login"}}
  {{link-to "Sign Up" "sign-up"}}
  {{/if}}
</div>
