<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">Resources</h5>
    </div>

    <div class="list-group">

      <div class="list-group-item clearfix">
        {{ember-inline-edit
          value=model.address
          onSave="updateCompany"}}
      </div>
      <div class='list-group-item clearfix'>
        <label><strong>Blog:</strong> </label>
        {{ember-inline-edit
          class="inline"
          value=model.blog
          onSave='updateCompany'}}
        <a class="pull-right" href={{model.blog}}>Link</a>
      </div>

      <div class='list-group-item clearfix'>
        <label><strong>Website:</strong> </label>
        {{ember-inline-edit
          class="inline"
          value=model.website
          onSave='updateCompany'}}
        <a class="pull-right" href={{model.website}}>Link</a>
      </div>
    </div>

  </div>
</div>
