<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">Resources</h5>
    </div>

    <div class="list-group">
      <div class="list-group-item">{{model.address}}</div>
      <a href={{model.blog}} class="list-group-item"><strong>{{model.name}}'s  Blog</strong></a>
      <a href={{model.website}} class="list-group-item"><strong>{{model.name}}'s Website</strong></a>
    </div>

  </div>
</div>
