<h1>
  {{#text-type class="h1" fade="true"}}
  A dark briefcase floats before you in the night.
  {{/text-type}}

  {{#text-type class="h1" delay=3000 fade=validEmail}}
  You feel strangely compelled to give it a valid <span class="focus">email address</span>:
  {{/text-type}}
</h1>

{{wide-input value=email inputId="email" hidden=hideEmail light="true"}}

{{#if validEmail}}
{{#text-type class="h1" fade=passwordLengthValid}}
<h1>And a decent <span class="focus">password</span>:</h1>
{{/text-type}}
{{/if}}

{{wide-input value=password id="password" hidden=invalidEmail type='password' light="true"}}

{{#if passwordLengthValid}}
{{#text-type class="h1" fade=validPassword}}
<h1>You begin to sweat profusely...</h1>
<h3>Maybe <span class="focus">confirming</span> that password will help:</h3>
{{/text-type}}
{{/if}}

{{wide-input value=passwordConfirmation id="password-confirmation" hidden=passwordTooShort type='password' light="true"}}

{{#if validPassword}}
  {{#text-type class="h1"}}
  <h1>There is not much time!</h1>
  <h3>I cannot continue to build fake tension!</h3>
  {{/text-type}}

  <!-- <button class="special&#45;button large light" id="sign&#45;up" {{action "signUp"}}>Sign Up</button> -->
  {{normal-button class="light" onClick=(action "signUp") text="Sign Up" size='large'}}
{{/if}}

<div class="rain"></div>
