{{#if editable}}

{{#liquid-if editing class="crossfade"}}
{{#text-type class="input-label"}}
{{label}}
{{/text-type}}
{{empty}}
{{input value=value focus-in="activate" focus-out="deactivate" type=type disabled=hidden id=inputId insert-newline="enterPressed"}}
<div class="border"></div>
{{else}}

{{#if value}}
{{value}}
{{else if notes}}
Enter notes here
{{else if address}}
Enter an address
{{else}}
Enter URL here
{{/if}}

{{/liquid-if}}

{{else}}
{{#text-type class="input-label"}}
{{label}}
{{/text-type}}
{{empty}}
{{input value=value focus-in="activate" focus-out="deactivate" type=type disabled=hidden id=inputId insert-newline="enterPressed"}}
<div class="border"></div>
{{/if}}
