<div class="crumbs">
  {{link-to 'Dashboard' 'dashboard'}} • {{link-to model.company.name 'companies.company' model.company}} • {{link-to model.name 'leads.lead' model}}

  <div class="pull-right special-button small">
    <a href="#" {{action "deleteLead"}}>Delete</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ritual-group recommendations=recommendations saved=(action "saved")}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3 class="special" data-title-type="info">Information</h3>
    <div class="info">
      <div data-lead-id="{{lead.id}}">
        <div class="subheading">
          Blog
          {{model-link link=model.blog}}
        </div>
        <div class="item">
          {{wide-input editable=true value=model.blog small=true blog=true label="Blog" enterPressed=(action "updateLead")}}
        </div>
        <div class="subheading">
          Email
          {{model-link link=model.email}}
        </div>
        <div class="item">
          {{wide-input editable=true value=model.email small=true email=true label="Email" enterPressed=(action "updateLead")}}
        </div>
        <div class="subheading">
          LinkedIn
          {{model-link link=model.linked_in}}
        </div>
        <div class="item">
          {{wide-input editable=true value=model.linked_in small=true linkedin = true label="LinkedIn" enterPressed=(action "updateLead")}}
        </div>
        <div class="subheading">
          Notes
          {{model-link link=model.notes}}
        </div>
        <div class="item">
          {{wide-input editable=true value=model.notes small=true notes=true label="Notes" enterPressed=(action "updateLead")}}
        </div>                       
      </div>
    </div>
  </div>
</div>
