<div class="container-fluid lead-container">

<h3 class="text-center">{{ model.name }} @ {{ model.company.name }}</h3>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Resources
      </div>

      <div class="list-group">
        <!-- Need to make this into a component -->
        <div class='list-group-item clearfix'>
          <label><strong>Email:</strong> </label>
          {{ember-inline-edit
          class="inline"
          value=model.email
          onSave='updateLead'}}
        </div>
        <div class='list-group-item clearfix'>
          <label><strong>Blog:</strong> </label>
          {{ember-inline-edit
          class="inline"
          value=model.blog
          onSave='updateLead'}}
          <a class="pull-right" href={{model.blog}}>Link</a>
        </div>
        <div class='list-group-item clearfix'>
          <label><strong>LinkedIn:</strong> </label>
          {{ember-inline-edit
          class="inline"
          value=model.linked_in
          onSave='updateLead'}}
          <a class="pull-right" href={{model.linked_in}}>Link</a>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">notes</h5>
      </div>

      <div class="panel-body">
        {{ember-inline-edit
        value=model.notes
        field='textarea'
        onSave=(action "updateLead" model)
        onClose=(action "rollback" model)}}
      </div>
    </div>
  </div>

</div>
</div>
