<div class="crumbs">
  {{link-to 'Dashboard' 'dashboard'}} • {{link-to model.company.name 'companies.company' model.company}} • {{link-to model.name 'leads.lead' model}}

  <div class="pull-right special-button small">
    <a href="#" {{action "deleteLead"}}>Delete</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ritual-group recommendations=recommendations saved=(action "saved")}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3 class="special" data-title-type="info">Information</h3>
    <div class="info">
      <div data-lead-id="{{lead.id}}">
        <div class="subheading">Blog</div>
        <div class="item">
          {{wide-input editable=true value=model.blog small=true label="Blog" enterPressed=(action "updateLead")}}
        </div>
        <div class="subheading">Website</div>
        <div class="item">
          {{wide-input editable=true value=model.website small=true label="Website" enterPressed=(action "updateLead")}}
        </div>
      </div>
    </div>
  </div>
</div>
