<h3>New Lead</h3>

<form>
  <div class="wide-input-container">
    {{wide-input value=model.name inputId="name" label="Lead Name"}}
    <div class="error-message">
      {{errorMessage errorList.name}}
    </div>
  </div>

  <select onchange={{action "selectCompany" value="target.value"}} class="diy-dropdown">
    {{#unless defaultCompanyId}}
      <option></option>
    {{/unless}}
    {{#each model.user.companies as |company|}}
      <option value={{company.id}} selected={{eq company.id defaultCompanyId}}>
        {{ company.name }}
      </option>
    {{/each}}

  </select>
  <div>
    <div class="error-message">
      {{errorMessage errorList.companyId}}
    </div>
  </div>
  <br>
  <br>
  {{normal-button onClick=(action "createLead" model.name) text="Create Lead" size="large"}}
</form>
