<h3>New Lead</h3>

<form>
  <div class="wide-input-container">
    {{wide-input value=model.name inputId="name" label="Lead Name"}}
    {{errorMessage errorList.name}}
  </div>

  <select onchange={{action "selectCompany" value="target.value"}}>
<<<<<<< HEAD
    <option value=''>Your Companies</option>
    {{#each model.user.companies as |company|}}
=======
    <option value={{defaultCompanyId}}>{{defaultCompanyName}}</option>
    {{#each model.companies as |company|}}
>>>>>>> 5745bb26828b37f6d1aba9b055055bb1ecb27aa9
      <option value={{company.id}}>
        {{ company.name }}
      </option>
    {{/each}}

  </select>
  <div>
    {{errorMessage errorList.companyId}}
  </div>
  <br>
  <br>
<<<<<<< HEAD
  {{normal-button onClick=(action "createLead" model.name selectedCompany) text="Create Lead" size="large"}}
=======
  {{normal-button onClick=(action "createLead" name) text="Create Lead" size="large"}}
>>>>>>> 5745bb26828b37f6d1aba9b055055bb1ecb27aa9
</form>
