<h1>New Jobs</h1>

<form>
  <div class="wide-input-container">
    {{wide-input value=model.title inputId="title" label="Job Title"}}
    {{errorMessage errorList.title}}
  </div>

  <select class="diy-dropdown" onchange={{action "selectCompany" value="target.value"}}>
    <option value=''>Please Select Company</option>
    {{#each model.user.companies as |company|}}
      <option value={{company.id}}>
        {{ company.name }}
      </option>
    {{/each}}
  </select>
  <div>
    {{errorMessage errorList.companyId}}
  </div>

  <br>
  <br>
  {{normal-button onClick=(action "createJob" model.title selectedCompany) text="Create Job" size="large"}}
</form>
