<h1>New Jobs</h1>

<form>
  <div class="form-group">
    <label>Title</label>
    {{wide-input value=title inputId="title" label="Job Title"}}
  </div>

  <select onchange={{action "selectCompany" value="target.value"}}>
    <option value=''>Please Select Company</option>
    {{#each model.companies as |company|}}
      <option value={{company.id}}>
        {{ company.name }}
      </option>
    {{/each}}
  </select>
  <br>
  <br>
  {{normal-button onClick=(action "createJob" title selectedCompany) text="Create Job" size="large"}}
</form>
