<!-- app/templates/dashboard.hbs -->
<h4>{{model.name}}</h4>

<div class="row">
  {{show-suggestions model=model}}
</div>

<div class="row">
  {{show-resources model=model}}
  {{show-leads model=model}}
</div>
<div class="row">
  {{show-notes}}
</div>
