<!-- app/templates/dashboard.hbs -->
<h2>
  {{model.name}}
  {{#if (eq model.interest 1)}}
    <span class="glyphicon glyphicon-heart" {{action "toggleHeart" model model.interest}}></span>
  {{else}}
    <span class="glyphicon glyphicon-heart-empty" {{action "toggleHeart" model model.interest}}></span>
  {{/if}}
</h2>


<div class="row">
  {{show-resources model=model}}
  {{show-leads model=model}}

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">Jobs</h5>
        {{link-to "Add Job" 'jobs.new'}}
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Application Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.jobs as |job| }}
            <tr>
              <td>
                {{ember-inline-edit
                  value=job.title
                  field='textarea'
                  onSave=(action "updateJob" job)}}
                </td>
            </tr>
          {{/each }}
        </tbody>
      </table>
    </div>
  </div>

</div>

<div class="row">
  {{show-notes model=model}}
</div>
