<!-- app/templates/dashboard.hbs -->
<h4>{{model.name}}</h4>

{{show-suggestions model=model}}
{{show-resources model=model}}

<div class="row col-md-2">
</div>

{{show-leads model=model}}
{{show-notes}}
