
<div class="crumbs">
  {{link-to 'Dashboard' 'dashboard'}} • {{link-to model.name 'companies.company' model}} • <a href="#" {{action "deleteCompany"}}>X</a>

</div>

<div class="row">
  <div class="col-sm-12">
    {{ritual-group recommendations=recommendations}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3 class="special" data-title-type="info">Information</h3>
    <div class="info">
      <div data-lead-id="{{lead.id}}">
        <div class="subheading">Address</div>
        <div class="item">
          {{wide-input editable=true value=model.address small=true label="Address" enterPressed=(action "updateCompany")}}
        </div>
        <div class="subheading">Blog</div>
        <div class="item">
          {{wide-input editable=true value=model.blog small=true label="Blog" enterPressed=(action "updateCompany")}}
        </div>
        <div class="subheading">Website</div>
        <div class="item">
          {{wide-input editable=true value=model.website small=true label="Website" enterPressed=(action "updateCompany")}}
        </div>
        <div class="subheading">Glassdoor Rating</div>
        <div class="item">
          {{model.glassdoor_rating}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <h3 class="special" data-title-type="leads">Leads <span>{{link-to "+" "leads.new"}}</span></h3>
    <div class="list">
      {{#each model.leads as |lead| }}
      <div class="item" data-lead-id="{{lead.id}}">
        <a href="">
          {{link-to lead.name 'leads.lead' lead}}
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>
