<!-- app/templates/dashboard.hbs -->
<h4>{{model.name}}</h4>

{{ model.include }}

<div class="row">
  {{show-recommendations model=model}}
</div>

<div class="row">
  {{show-resources model=model}}
  {{show-leads model=model}}

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h5 class="panel-title">Jobs</h5>
          {{link-to "Add Job" 'jobs.new'}}
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Application Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.jobs as |job| }}
            <tr>
              <td>{{ job.title }}</td>
            </tr>
          {{/each }}
        </tbody>
      </table>
    </div>
  </div>

</div>

<div class="row">
  {{show-notes model=model}}
</div>
