
<div class="crumbs">
  {{link-to 'Dashboard' 'dashboard'}} • {{link-to model.name 'companies.company' model}}

  {{#if (eq model.interest 1)}}
    <span class="glyphicon glyphicon-heart heart" {{action "toggleHeart" model model.interest}}></span>
  {{else}}
    <span class="glyphicon glyphicon-heart-empty heart" {{action "toggleHeart" model model.interest}}></span>
  {{/if}}
  <div class="pull-right special-button small">
    <a href="#" {{action "deleteCompany"}}>Delete</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ritual-group recommendations=recommendations saved=(action "saved")}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3 class="special" data-title-type="info">Information</h3>
    <div class="info">
      <div data-lead-id="{{lead.id}}">
        <div class="subheading">
          Address
        </div>
        <div class="item">
          {{wide-input editable=true value=model.address small=true label="Address" address=true enterPressed=(action "updateCompany")}}
        </div>
        <div class="subheading">
          Blog
          {{model-link link=model.blog}}
        </div>
        <div class="item">
          {{wide-input editable=true value=model.blog small=true label="Blog" enterPressed=(action "updateCompany")}}
        </div>
        <div class="subheading">
          Website
          {{model-link link=model.website}}
        </div>
        <div class="item">
          {{wide-input editable=true value=model.website small=true label="Website" enterPressed=(action "updateCompany")}}
        </div>
        {{#if model.glassdoor_rating}}
        <div class="subheading">
          Glassdoor Rating
        </div>
        <div class="item">
          {{model.glassdoor_rating}}
        </div>
        {{/if}}
        <div class="subheading">
          Notes
        </div>
        <div class="item">
          {{wide-input editable=true value=model.notes small=true label="Notes" notes=true enterPressed=(action "updateCompany")}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <h3 class="special" data-title-type="leads">Leads <span>{{link-to "+" "leads.new" (query-params defaultCompanyId=model.id defaultCompanyName=model.name)}}</span></h3>
    <div class="list">
      {{#each model.leads as |lead| }}
      <div class="item" data-lead-id="{{lead.id}}">
        <a href="">
          {{link-to lead.name 'leads.lead' lead}}
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>
