<div class="crumbs">
  {{link-to 'Dashboard' 'dashboard'}} • {{link-to model.name 'companies.company' model}}
</div>

<div class="row">
  <div class="col-sm-12">
    {{ritual-group recommendations=recommendations}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3 class="special" data-title-type="info">Info </h3>
    <div class="list">
      <div class="item" data-lead-id="{{lead.id}}">
        <div class="item">
          {{model.address}}
        </div>

        <div class="item">
          {{model.blog}}
        </div>

        <div class="item">
          {{model.website}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <h3 class="special" data-title-type="leads">Leads <span>{{link-to "+" "leads.new"}}</span></h3>
    <div class="list">
      {{#each model.leads as |lead| }}
      <div class="item" data-lead-id="{{lead.id}}">
        <a href="">
          {{link-to lead.name 'leads.lead' lead}}
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>
