<!-- app/templates/dashboard.hbs -->
<h4>dashboard</h4>

{{ model }}

<div class="row col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">Suggestions</h5>
    </div>

      <div class="panel-body dashboard-suggestion">
      </div>
    <br>
  </div>
</div>

<div class="row col-md-5">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">Companies</h5>
        {{link-to "Companies" 'companies.new'}}
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <!-- {{#each model.companies as |company| }}
          <tr>
            <td>{{ company.name }}</td>
          </tr>
        {{/each }} -->
      </tbody>
    </table>
  </div>
</div>

<div class="row col-md-2">
</div>

<div class="row col-md-5">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">Leads</h5>
        {{link-to "Add Lead" 'leads.new'}}
    </div>

    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <!-- {{#each model.leads as |lead| }}
          <tr>
            <td>{{ lead.name }}</td>
          </tr>
        {{/each }} -->
      </tbody>
    </table>

  </div>
</div>


<div class="row col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">Jobs</h5>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        <!-- {{#each model.jobs as |job| }}
          <tr>
            <td>{{ job.title }}</td>
          </tr>
        {{/each }} -->
      </tbody>
    </table>
  </div>
</div>

{{outlet}}
