<!-- app/templates/dashboard.hbs -->
<!-- <h4>dashboard</h4> -->

<div class="row">
  <div class="col-sm-12">

    <br>
    {{#text-type}}
    <h3>Try these Dark Rituals.</h3>
    <!-- <h4>It yearns for your credentials:</h4> -->
    {{/text-type}}

    <div class="rituals">
      {{#each recommendations as |recommendation|}}
      {{dark-ritual recommendation=recommendation}}
      {{/each}}
    </div>

    <br>

  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <span class="label label-warning">Earn 111 Points</span>
          {{link-to "Add Company" 'companies.new'}}
        </div>
        <h5 class="panel-title">
          Companies
        </h5>
      </div>

      <table class="table" style="table-layout: fixed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Website</th>
            <th>Blog</th>
            <th>Favorite</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.companies as |company| }}
            <tr>
              <td>
                {{#link-to "companies.company" company}}
                  {{company.name}}
                {{/link-to}}
              </td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"><a href={{ company.website }}>{{company.website}}</a></td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"><a href={{ company.blog }}>{{company.blog}}</a></td>
              <td>
                {{#if (eq company.interest 1)}}
                  <span class="glyphicon glyphicon-heart" {{action 'toggleHeart' company company.interest}}></span>
                {{else}}
                  <span class="glyphicon glyphicon-heart-empty" {{action 'toggleHeart' company company.interest}}></span>
                {{/if}}
              </td>
              <td>
                <button class="btn btn-danger btn-small pull-right" {{action "removeCompany" company}}>X</button>
              </td>
            </tr>

          {{/each }}
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <span class="label label-warning">Earn 321 Points</span>
          {{link-to "Add Lead" 'leads.new'}}
        </div>
        <h5 class="panel-title">Leads</h5>
      </div>

      <div class="panel-body">
        <table class='table' style="table-layout: fixed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Blog</th>
              <th>Other</th>
              <th>Contacted?</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.leads as |lead| }}
            <tr>
              <td >
                {{#link-to "leads.lead" lead}}
                {{lead.name}}
                {{/link-to}}
              </td>
                <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"><a href={{ lead.blog }}>{{lead.blog}}</a></td>
                <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"><a href={{ lead.linked_in }}>{{lead.linked_in}}</a></td>
                <td>Yes</td>
                <td>
                  <button class="btn btn-danger btn-small" {{action "removeLead" lead}}>X</button>
                </td>
              </tr>
            {{/each }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <span class="label label-warning">Earn 202 Points</span>
          {{link-to "Add Job" 'jobs.new'}}
        </div>
        <h5 class="panel-title">Jobs</h5>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Position</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.jobs as |job| }}
            <tr>
              <td>{{ job.title }}</td>
              <td>
                <button class="btn btn-danger btn-small" {{action "removeJob" job}}>X</button>
              </td>
            </tr>
          {{/each }}
        </tbody>
      </table>
    </div>
  </div>

</div>

{{outlet}}
