<!-- app/templates/dashboard.hbs -->
<!-- <h4>dashboard</h4> -->

<div class="crumbs">
  {{link-to 'Dashboard' 'dashboard'}}
</div>

<div class="row" data-type="rituals">
  <div class="col-sm-12">
    {{ritual-group recommendations=recommendations saved=(action "saved")}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">

    <h3 class="special newcompany" data-title-type="companies">Companies <span>{{link-to "+" "companies.new"}}</span></h3>
    <div class="list">
      {{#each model.companies as |company| }}
      <div class="item">
        <a href="">
          {{link-to company.name 'companies.company' company}}
        </a>
      </div>

      {{/each}}
    </div>
  </div>

  <div class="col-sm-6">
    <h3 class="special" data-title-type="leads">Leads <span>{{link-to "+" "leads.new" (query-params defaultCompanyId='' defaultCompanyName='')}}</span></h3>
    <div class="list">
      {{#each model.leads as |lead| }}
      {{lead-card lead=lead data-lead-id=lead.id}}
      {{/each}}

    </div>
  </div>
</div>

<div class="row job-table">
  <div class="col-sm-12">
    <h3 class="special" data-title-type="jobs">Jobs <span>{{link-to "+" "jobs.new"}}</span></h3>
    <div class="rituals">
      {{#each model.jobs as |job| }}
      {{ job-item jobItem=job }}
      {{/each}}
    </div>
  </div>
</div>



{{outlet}}
