<div class="container">
  <h1>Meetups</h1>

  <form class="form-inline">
    <div class="form-group">
      {{input value=text placeholder="Search by Keyword" class="form-control"}}
      {{input value=zip placeholder="Enter Zip Code" class="form-control"}}
    </div>
    <select class="diy-dropdown" onchange={{action "selectRadius" value="target.value"}}>
      {{#each populateRange as |range|}}
        {{#if (eq range 25)}}
          <option value={{range}} selected="selected">{{range}} miles</option>
        {{else}}
          <option value={{range}}>{{range}} miles</option>
        {{/if}}
      {{/each}}
    </select><br><br>
    <button {{action 'findMeetups'}} class="special-button large">Find Meetups</button>
  </form>

  <br>

  <div class="list-group">
    {{#each model as |event|}}
      <h4>{{event.date}}</h4>
      <a href={{event.event_url}} target="_newTab" class="list-group-item">
        <div class="row">
          <div class="col-xs-2">
            <h4>{{event.time}}</h4>
          </div>
          <div class="col-xs-8">
            <h4>{{event.group}}</h4>
            <h3>{{event.name}}</h3>
            {{event.yes_rsvp_count}} Going
          </div>
          <div class="col-xs-2">
            {{event.distance}} miles away
          </div>
        </div>
      </a>
    {{/each}}
  </div>
</div>
{{outlet}}
