<div class="container">
  <h1>Meetups</h1>

  <form>
    <select onchange={{action "selectCategoryIds" value="target.value"}}>
      <option>Choose a category</option>
      {{#each model.results as |category|}}
        <option value={{category.category_ids}}>{{category.name}}</option>
      {{/each}}
    </select>
    <select class="dropdown" onchange={{action "selectRadius" value="target.value"}}>
      {{#each populateRange as |range|}}
        <option value={{range}}>{{range}} miles</option>
      {{/each}}
    </select>
    {{input value=zip placeholder="Enter Zip Code"}}

    <button {{action 'findMeetups'}}>Find Meetups</button>
  </form>
  
  <br>

  <div class="list-group">
    {{#each meetups as |event|}}
      <a href={{event.event_url}} class="list-group-item">
        <div class="row">
          <div class="col-xs-2">
            {{event.date}}
            <br>
            <h3>{{event.time}}</h3>
          </div>
          <div class="col-xs-8">
            <h4>{{event.group}}</h4>
            <h3>{{event.name}}</h3>
            {{event.yes_rsvp_count}} Going
          </div>
          <div class="col-xs-2">
            {{event.distance}} miles away
          </div>
        </div>
      </a>
    {{/each}}
  </div>
</div>
{{outlet}}
