{{#unless hideInterest}}
  <div class="step1">
    <h3 class="h1">Glad you could be with us.</h3><br>

    <h3>What is Job Hunger?</h3><br>

    <p class="aboutp">Job Hunger is a place to track your job search efforts. Instead of dropping your resume into a digital black hole, we try to get you in the side door. Job Hunger guides you through this process, making recommendations on how to reach out to people and create strong connections.</p><br>

    <p class="aboutp">Earn points by adding companies you're interested in. Try to find people you know that work there, and add them as leads. Check that company's job postings, and add jobs that look promising.</p><br>

    {{#text-type class="h3" fade="true"}}
      Step 1: Please enter an industry you're interested in
    {{/text-type}}
    

    <div class="wide-input-container">
      {{wide-input value=interest1 inputId="interest1" hidden=hideInterest light="true"}}
    </div>
    {{#if isInterested1}}
      {{#text-type class="h3" fade="true"}}
        Enter a location (zip code or city)
      {{/text-type}}

      <div class="wide-input-container">
        {{wide-input value=zipCode id="zipCode" light="true"}}
      </div>
    {{/if}}

    {{normal-button class="light" onClick=(action "submitInterestsAndLocation") text="Click Here to Find Companies" size='large'}}
  </div>
{{/unless}}



{{#if calledGlassdoor}}
  {{#if haveCompanies}}
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
              <th>Company</th>
              <th>Glassdoor Rating</th>
              <th>Add This Company</th>
          </tr>
        </thead>
        <tbody>
        {{#each companies as |company|}}
            <tr>
                <td >{{company.name}}</td>
                <td>
                  {{!-- <span class="badge">{{company.overallRating}}</span> --}}
                  <span class="rating">{{company.overallRating}}</span>
                </td>
                <td>
                  {{#if company.selected}}
                    <div class="secondary">Already Added</div>
                  {{else}}
                    <button type="button" class="special-button" {{action "createCompany" company}}>Follow!</button>
                  {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
  {{ else }}
    <h4>Sorry, search didn't return any results.  Search again with new terms or click "All Done!" to move on.</h4>
  {{/if}}
  {{normal-button class="light" onClick=(action "allDone") text="All Done" size='large'}}
{{/if}}


{{#if finalSteps}}
  {{#text-type class="h1" fade="true"}}
    Step 2: 
  {{/text-type}}
  <h3>Research the companies you're interested in. Find people that you know and add them as leads.</h3><br><br>

  {{#text-type class="h1" fade="true"}}
    Step 3: 
  {{/text-type}}
  <h3>Download the <a target="_blank" href="https://chrome.google.com/webstore/detail/job-hunger/nohkkhfkbhhfpblhcpdghanppjfihpdp">Chrome Extension</a>, which is completely free and works similarly to Pinterest's "Pin It" button. While you're scouring the web for jobs, just pop open the extension to save the job to your dashboard!</h3><br><br>

  {{#text-type class="h1" fade="true"}}
    Step 4: 
  {{/text-type}}  
  <h3>Make sure you check out the Meetups tab to see events happening near you. This is your friendly reminder to get out of the house and make connections with real humans!</h3><br><br>



  {{normal-button class="light" onClick=(action "goToDashboard") text="Continue To Dashboard" size='large'}}
{{/if}}