


<h2>Glad you could be with us</h2>
<h5>Select a keyword (interest or industry are good ones) and well find some relevant companies for you</h5>



<h3>
  {{#text-type class="h1" fade="true"}}
  Please enter a keyword
  {{/text-type}}
</h3>

<div class="wide-input-container">
  {{wide-input value=interest1 inputId="interest1" hidden=hideInterest light="true"}}
</div>



{{#if isInterested1}}
{{#text-type class="h1"}}
<h3>Enter a location (Zip Code or city)</h3>
{{/text-type}}

<div class="wide-input-container">
{{wide-input value=zipCode id="zipCode" light="true"}}
</div>
{{/if}}

{{normal-button class="light" onClick=(action "submitInterestsAndLocation") text="Find Me Jobs!" size='large'}}

{{#if calledGlassdoor}}
  {{#if haveCompanies}}
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
              <th>Company</th>
              <th>Glassdoor Rating</th>
              <th>Add This Company!</th>
          </tr>
        </thead>
        <tbody>
        {{#each companies as |company|}}
            <tr>
                <td >{{company.name}}</td>
                <td>
                  <div class="label label-info">{{company.overallRating}}</div>
                </td>
                <td>
                  {{#if company.selected}}
                    <button type="button" class="btn btn-danger">Already been Selected</button>
                  {{else}}
                    <button type="button" class="btn btn-info" {{action "createCompany" company}}>Follow this Company!</button>
                  {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
  {{ else }}
    <h4>Sorry, search didn't return any results.  Search again with new terms or click "All Done!" to move on.</h4>
  {{/if}}
  <button type="button" class="btn btn-info btn-lg" {{action "allDone" company}}>All Done!</button>
{{/if}}
